In [4]:
import pandas as pd

In [21]:
series = pd.Series([1,2,3,4,5,6,7,8,9])

In [10]:
series

0        1
1        2
2    kuanl
3        4
4        5
5     6.06
6        7
7        8
8        9
dtype: object

In [12]:
series.values

array([1, 2, 'kuanl', 4, 5, 6.06, 7, 8, 9], dtype=object)

In [13]:
series.index

RangeIndex(start=0, stop=9, step=1)

In [14]:
series1 = pd.Series([1,2,3,"Kunal","Is","So","Cool",4,5,7.0,9.0],index=['One','Two','Three','Four','Five','Six','Seven','Eight','Nine','Ten','Eleven'])

In [15]:
series1

One           1
Two           2
Three         3
Four      Kunal
Five         Is
Six          So
Seven      Cool
Eight         4
Nine          5
Ten           7
Eleven        9
dtype: object

In [17]:
series1['Four']

'Kunal'

In [19]:
series1[['Four','Five','Six']]

Four    Kunal
Five       Is
Six        So
dtype: object

In [22]:
series[series > 2]

2    3
3    4
4    5
5    6
6    7
7    8
8    9
dtype: int64

In [23]:
series2 = pd.Series({'a':1,'b':2,'c':3})

In [24]:
series2

a    1
b    2
c    3
dtype: int64

In [27]:
# The code was removed by DSX for sharing.

,PassengerID,Name,PClass,Age,Sex,Survived,SexCode
0,1,"Allen, Miss Elisabeth Walton",1st,29.00,female,1,1
1,2,"Allison, Miss Helen Loraine",1st,2.00,female,0,1
2,3,"Allison, Mr Hudson Joshua Creighton",1st,30.00,male,0,0
3,4,"Allison, Mrs Hudson JC (Bessie Waldo Daniels)",1st,25.00,female,0,1
4,5,"Allison, Master Hudson Trevor",1st,0.92,male,1,0

In [30]:
print(df_data_1.groupby(['PClass','Survived'])['PassengerID'].count())

PClass  Survived
*       0             1
1st     0           129
        1           193
2nd     0           160
        1           119
3rd     0           573
        1           138
Name: PassengerID, dtype: int64

In [33]:

body = client_64dd1b2268ad43e4b4905b0a0968e5f6.get_object(Bucket='devfestdubai-donotdelete-pr-iki0wce4kmgv2l',Key='apple.csv')['Body']
# add missing __iter__ method, so pandas accepts body as file-like object
if not hasattr(body, "__iter__"): body.__iter__ = types.MethodType( __iter__, body )

df_data_2 = pd.read_csv(body)
df_data_2

,Date,Open,High,Low,Close,Volume,Adj Close
0,2017-02-22,136.429993,137.119995,136.110001,137.110001,20745300,137.110001
1,2017-02-21,136.229996,136.750000,135.979996,136.699997,24265100,136.699997
2,2017-02-17,135.100006,135.830002,135.100006,135.720001,22084500,135.720001
3,2017-02-16,135.669998,135.899994,134.839996,135.350006,22118000,135.350006
4,2017-02-15,135.520004,136.270004,134.619995,135.509995,35501600,135.509995
5,2017-02-14,133.470001,135.089996,133.250000,135.020004,32815500,135.020004
6,2017-02-13,133.080002,133.820007,132.750000,133.289993,23035400,133.289993
7,2017-02-10,132.460007,132.940002,132.050003,132.119995,20065500,132.119995
8,2017-02-09,131.649994,132.449997,131.119995,132.419998,28349900,132.419998
9,2017-02-08,131.350006,132.220001,131.220001,132.039993,23004100,131.469994
10,2017-02-07,130.539993,132.089996,130.449997,131.529999,38183800,130.962201
11,2017-02-06,129.130005,130.500000,128.899994,130.289993,26845900,129.727549
12,2017-02-03,128.309998,129.190002,128.160004,129.080002,24507300,128.522781
13,2017-02-02,127.980003,129.389999,127.779999,128.529999,33710400,127.975152
14,2017-02-01,127.029999,130.490005,127.010002,128.750000,111985000,128.194203
15,2017-01-31,121.150002,121.389999,120.620003,121.349998,49201000,120.826147
16,2017-01-30,120.930000,121.629997,120.660004,121.629997,30377500,121.104937
17,2017-01-27,122.139999,122.349998,121.599998,121.949997,20562900,121.423555
18,2017-01-26,121.669998,122.440002,121.599998,121.940002,26337600,121.413604
19,2017-01-25,120.419998,122.099998,120.279999,121.879997,32377600,121.353858
20,2017-01-24,119.550003,120.099998,119.500000,119.970001,23211000,119.452107
21,2017-01-23,120.000000,120.809998,119.769997,120.080002,22050200,119.561633
22,2017-01-20,120.449997,120.449997,119.730003,120.000000,32597900,119.481976
23,2017-01-19,119.400002,120.089996,119.370003,119.779999,25597300,119.262925
24,2017-01-18,120.000000,120.500000,119.709999,119.989998,23713000,119.472017
25,2017-01-17,118.339996,120.239998,118.220001,120.000000,34439800,119.481976
26,2017-01-13,119.110001,119.620003,118.809998,119.040001,26111900,118.526121
27,2017-01-12,118.900002,119.300003,118.209999,119.250000,27086200,118.735214
28,2017-01-11,118.739998,119.930000,118.599998,119.750000,27588600,119.233055
29,2017-01-10,118.769997,119.379997,118.300003,119.110001,24462100,118.595819
...,...,...,...,...,...,...,...
1228,2012-04-04,624.349991,625.859985,617.000023,624.309990,143245200,80.885322
1229,2012-04-03,627.300018,632.209984,622.510002,629.319984,208639900,81.534415
1230,2012-04-02,601.830009,618.769997,600.379990,618.630020,149587900,80.149428
1231,2012-03-30,608.769981,610.559982,597.939987,599.550011,182759500,77.677430
1232,2012-03-29,612.780006,616.560013,607.230026,609.859993,152059600,79.013187
1233,2012-03-28,618.379974,621.450005,610.309990,617.620010,163865100,80.018571
1234,2012-03-27,606.180016,616.280006,606.060013,614.480019,151782400,79.611755
1235,2012-03-26,599.790016,607.150024,595.259979,606.979980,148935500,78.640054
1236,2012-03-23,600.490005,601.799995,594.399986,596.050011,107622200,77.223972
1237,2012-03-22,597.779984,604.499977,595.529999,599.340019,155967700,77.650224
1238,2012-03-21,602.739990,609.650002,601.410027,602.499985,161010500,78.059627
1239,2012-03-20,599.510010,606.899979,591.480026,605.959984,204165500,78.507903
1240,2012-03-19,598.370010,601.769981,589.050011,601.100006,225309000,77.878247
1241,2012-03-16,584.719978,589.199974,577.999985,585.569984,206371900,75.866184
1242,2012-03-15,599.609985,600.009995,578.550011,585.559998,289929500,75.864890
1243,2012-03-14,578.050026,594.719994,575.399979,589.580009,354711000,76.385721
1244,2012-03-13,557.540024,568.180000,555.750023,568.099998,172713800,73.602781
1245,2012-03-12,548.979988,551.999977,547.000023,551.999977,101820600,71.516869
1246,2012-03-09,544.209999,547.740013,543.110001,545.170021,104729800,70.631983
1247,2012-03-08,534.689995,542.989998,532.120003,541.989975,129114300,70.219978
1248,2012-03-07,536.800003,537.779999,523.299988,530.690010,199630200,68.755959
1249,2012-03-06,523.659996,533.690025,516.219986,530.259987,202559700,68.700246
1250,2012-03-05,545.420013,547.479980,526.000023,533.160027,202281100,69.075974
1251,2012-03-02,544.240013,546.800018,542.519974,545.180008,107928100,70.633277
1252,2012-03-01,548.169983,548.209984,538.769981,544.469978,170817500,70.541286
1253,2012-02-29,541.560005,547.610023,535.700005,542.440025,238002800,70.278286
1254,2012-02-28,527.960014,535.410011,525.850006,535.410011,150096800,69.367481
1255,2012-02-27,521.309982,528.500000,516.280014,525.760017,136895500,68.117232
1256,2012-02-24,519.669998,522.899979,518.640015,522.409981,103768000,67.683203
1257,2012-02-23,515.079987,517.830009,509.499992,516.389977,142006900,66.903253

In [36]:
df_data_2.loc[1257,'Close'].mean()

516.38997699999993